.card-section {
  display: flex;
  position: relative;
  flex-direction: row;
  gap: 30px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.btn {
  display: flex;
  justify-content: start;
  align-items: center;
  color: rgb(255, 90, 95);
  font-size: clamp(3.75rem, 2.4324rem + 5.4054vw, 7.5rem);
  width: 75px;
  height: 100%;
  position: absolute;
  z-index: 2;
  /* border: 2px solid red; */
  transform: translateY(-50%);
}
#left-btn {
  top: 40%;
  left: 2%;
  animation: 1.5s ease-in-out 1s bob-left infinite;
}
#right-btn {
  top: 40%;
  right: 2%;
  animation: 1.5s ease-in-out 1s bob-right infinite;
}
@keyframes bob-left {
  0% {
    left: 2%;
  }
  50% {
    left: 5%;
  }
  100% {
    left: 2%;
  }
}
@keyframes bob-right {
  0% {
    right: 2%;
  }
  50% {
    right: 5%;
  }
  100% {
    right: 2%;
  }
}
